/* additonal info; no "reset" document; included into style.css*/

* {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

:root {
  --text-color-menu: #4a4a4a;
  --background-color: #3cdbc0;
  --main-text-color: #ffffff;
  --font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

/*HEADER NAVIGATION*/

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-text-color);
  width: 100%;
  height: 100px;
  padding: 10px 30px 0px 30px;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  justify-content: center;
  color: var(--main-text-color);
  position: relative;
  top: 0px;
}

.links-menu {
  color: var(--text-color-menu);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 10px 10px 13px;
}

.header-logo-link {
  height: 61px;
}

/*MAIN*/

.main {
  position: absolute;
  display: flex;
  word-wrap: break-word;
}
/*
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 350px;
}*/

/* DEVIDE UP TO 768px*/

@media all and (min-width: 768px) {
  .header {
    background: #4a4a4a;
    box-sizing: border-box;
    align-items: flex-end;
  }

  .nav-menu {
    display: flex;

    width: 200px;
  }

  .menu {
    box-sizing: border-box;
    justify-content: flex-end;
  }
  /*
  .header-logo-link {
    position: absolute;
    left: 0;
    margin-left: 30px;
    top: 25px;
  }

  h1 {
    font-size: 40px;
  }*/
}
